[submodule "external/a-maci-evm"]
	path = external/a-maci-evm
	url = https://github.com/dorahacksglobal/a-maci-evm.git
	branch = feat-switchable
[submodule "vota-circuits"]
	path = external/vota-circuits
	url = https://github.com/DoraFactory/Vota-Circuits.git
